{% extends 'layout.html' %} {% block content %}
<div class="container">
    <div class="content">
        <div class="text-content">
            <div class="heading1">
                <h1>Hospital Management System</h1>
            </div>
            <div class="heading2">
                <p>A simple web app for hospitals display.</p>

            </div>
            <div class="btn">
                <p>Get started</p>
            </div>
        </div>

    </div>
    <div class="image">
        <div class="img">
            <img src="" alt="">

        </div>


    </div>
</div>
{% endblock %}
